h1 {
  text-align: center;
  } 

picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    
  }
  
  .lazyload {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .lazyloaded {
    opacity: 1;
  }

  img {
    width: 300px;
    height: 400px;
  }

  .placeholder-text{
    text-align: center;
    line-height: 200px;
  }

  .image-container img {
    opacity: 0;
    transition: opacity 0.5s ease-out; /* Add a 0.5s transition to the opacity property */
  }
  
  .image-container p {
    opacity: 1;
  }

body {
  
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  animation: background-change 5s linear infinite;
  
}

@keyframes background-change {
  20% {
      background-color: #F4EAD5; /* COLOR START */
  }
  70% {
      background-color: #FFFBE9; /* COLOR END */
  }
}

#rectangle {
 
    background-color: #D7E9B9;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 2%;
    box-shadow: 5px 5px 5px #ccc, -5px -5px 5px #F4EAD5;
   
    
   
    
  }

  
  #rectangle img {
    width: 160px;
    height: 240px;
    object-fit: contain;
    box-shadow: 5px 2px 5px 2px #ccc, -5px -5px 5px #a29f9f;
  }


  #rectangle h1 {
    color: #1C6758;
    font-size: 24px;
    font-weight: bold;
   
  }
  
  ul {
    text-align: left;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .rectangle_footer {
    width: 100%;
    height: 50px;
    background-color: #D7E9B9; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 2%;
    text-align: center; 
    box-shadow: 5px 5px 5px #ccc, -5px -5px 5px #F4EAD5;
  }

  footer p{
    color: #1C6758;  /* Controls color of the text inside the footer */
    text-align: center;
    font-size: 1em;

  }