
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

html{
  height: 100%;
}
* {
margin: 0;
padding: 0;
}

h1, h2, h3{

  font-family: 'Shrikhand', cursive;
}

body{
  
  margin: 0; 
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {

  background-size: cover;
  height: 100%;
  
  }

footer {
  bottom: 0;
  text-align: center; /* Center the divs horizontally */
  background-color: #981D26;
  margin-top: auto;
}

a {
color: #fff;
text-decoration: none;
transition: 0.3s;
font-family: 'Lato', sans-serif;
font-family: 'Shrikhand', cursive;
}

a:hover {
opacity: 0.7;
}

.logo {
font-size: 24px;
text-transform: uppercase;
letter-spacing: 4px;
}

nav {
display: flex;
justify-content: space-around;
align-items: center;
background: #981D26;
height: 8vh;
}



.nav-list {
list-style: none;
display: flex;
}

.nav-list li {
letter-spacing: 3px;
margin-left: 32px;
}

.mobile-menu {
display: none;
cursor: pointer;
}

.mobile-menu div {
width: 32px;
height: 2px;
background: #fff;
margin: 8px;
transition: 0.3s;
}

.nav-list.active {
transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }
    
.mobile-menu.active .line1 {
transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
opacity: 0;
}

.mobile-menu.active .line3 {
transform: rotate(45deg) translate(-5px, -7px);
}


/* slider css*/

.slider {
    margin: 0 auto;
    max-width: 100%;
  }
  
  .slide_viewer {
    height: 440px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background-image: url("../images-final/oranges.jpg");
    background-size: cover; /* para cubrir todo el fondo */
    background-position: center; /* para centrar la imagen */
    /* otros estilos para el div */
    width: 100%;
    
  }
  
  .slide:nth-of-type(2) {
    background: url("../images-final/strawberry.jpg");
    background-size: cover; /* para cubrir todo el fondo */
    background-position: center; /* para centrar la imagen */
    /* otros estilos para el div */
    width: 100%;
    
  }
  
  .slide:nth-of-type(3) {
    background: url("../images-final/watermelon.jpg");
    background-size: cover; /* para cubrir todo el fondo */
    background-position: center; /* para centrar la imagen */
    /* otros estilos para el div */
    width: 100%;
  }
  
  .slide:nth-of-type(4) {
    background: url("../images-final/cherry.jpg");
    background-size: cover; /* para cubrir todo el fondo */
    background-position: center; /* para centrar la imagen */
    /* otros estilos para el div */
    width: 100%;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 10px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 185px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
/* first line */

.container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* On large sizes, first column is bigger than the right one */
  grid-gap: 20px;
  width: 100%;
  margin-top: -300px;
}

.left {
 
  
  display: flex;
  align-items: center;
  background-image: url("../images-final/beach2.jpg");
  background-size: cover;
  box-shadow: 0px 0px 9px 2px #71A7D0;
}



/*div info */
.envelope{
  width: 10%;
  height: auto;
  margin-right: 20px;
  padding: 10px;
}

.info {
  flex: 1;
  background-color: #428CC6;
  padding: 30px;
  background: rgba(66, 140, 198, 0.7);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-family: 'Preahvihear', sans-serif;
}

.summary{
  padding: 1px;
}

.right {
 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, rgba(244,67,53,1) 17%, rgba(255,220,0,1) 48%, rgba(2,169,244,1) 96%);
  box-shadow: 0px 0px 9px 2px #94C668;
}

/* call to action to do a fruit drink*/
.fruit-drink{
  width: 30%;
  height: auto;
  margin-right: 20px;
  padding: 10px;
}

.drink-title{
  color: white;
}

.fruit-button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fruit-button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.fruit-button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}



/* second line*/
.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three containers of the same size */
  grid-gap: 5px;
  margin-top: 20px;

}

.square1 {
  height: 300px;

  background-image: url("../images-final/sand.jpg");
  background-size: cover;
  box-shadow: 0px 0px 9px 1px #DD9F64;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

/* instagram icon */
.icon_instagram, .icon_facebook{
  font-size: 150px;
  
}



.square2 {
  
  height: 300px;
  border-radius: 5%;
  background-image: url("../images-final/weather.jpg");
  background-size: cover;
}

.weather-card{
  align-items: center;
  text-align: center;
  margin-top: 20px;
  
}

.current-conditions{
  color: red;
}

.forecast{
  margin-top: 40px;
  color: yellow;
}





.square3 {

  height: 300px;
  background-image: url("../images-final/fruit.jpg");
  background-size: cover;
  box-shadow: 0px 0px 9px 1px #C4580B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3{
  display: grid;
  height: 300px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(244,53,108,1) 6%, rgba(121,255,0,1) 48%, rgba(2,72,244,1) 99%);
  box-shadow: 0px 0px 9px 1px #C4580B;
  margin-bottom: 100px;
}

.container3 img{
 
  width: 200px;
  margin: 0 auto;


}

p{
  font-family: 'Shrikhand', cursive;
}


/*button juice*/


/* CSS */
#create-juice-btn {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#create-juice-btn:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#create-juice-btn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}








/* call to action*/

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
 
  text-align: center;
}



.container-links{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three containers of the same size */
  grid-gap: 5px;
  margin-top: 20px;
  background-color: #981D26;
  
}

.box-link {
  height: 200px;
}

.box-link > ul{
  padding: 20px;
}

.box-link li{
  padding: 10px;
}

ul, li {
  list-style: none;
}


/*banner */

.image-box{
	position: relative;
	
	
}

.image-box img{
	height: 200px;
	width: 100%;
}

.text-inside{
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	display: flex; 
	align-items: center; 
	justify-content: center;
	
}

.image-text{
	font-size: 70px !important;
	text-align: center;
	color: white;
  font-family: 'Shrikhand', cursive;
}


form {
  width: 500px;
  margin: 0 auto;
}

fieldset {
  margin-bottom: 20px;
  background-color: #E6D0CA;
}

legend {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

label, input, select, textarea {
  display: block;
  margin-bottom: 10px;
}

select {
  width: 100%;
}

textarea {
  height: 100px;
  resize: vertical;
}

button[type="submit"] {
  margin-top: 10px;
}
/*FORM DESIGN*/
#order-form{
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

input{
  width: 300px;
}

textarea{
  width: 300px;
}

label{
  font-size: 20px;
}

.button-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS */
.juice-button {
  background-color: #d4a092;
  border: 0;
  border-radius: .25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
  padding: 1rem 1.25rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.juice-button:hover {
  box-shadow: none;
}


/* ORDER SUMMARY*/
#output-area{
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  padding: 20px;
  margin: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 650px;
  font-size: 20px;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(181,129,190,1) 26%, rgba(124,215,122,1) 55%, rgba(253,187,45,1) 88%);
  margin-top: 40px;
}

#output-area p{
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

#output-area ul{
  padding: 20px;
}

#output-area li{
  padding: 5px;
  font-family: 'Lato', sans-serif;
}


.big-container-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fresh-body{
 height: 1400px;
}

#output-area h2{
  font-size: 25px;
}



#output-area ul{
  padding: 15px;
}

/* about us page css*/

.granada{
  width: 400px;
}

.about-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.left-about{
  margin: 200px 100px 200px 50px;
  
}

.right-about{
  margin: 100px 200px 200px 200px; 
  background-image: url("../images-final/granada.jpg");
  background-size: cover; /* para cubrir todo el fondo */
  background-position: center; /* para centrar la imagen */
  height: 700px;
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  

}


.title-fruit{
  font-size: 30px;
}


.fruit-story{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}


.juice-story{
  padding: 200px;
  
}

.juice-story p{
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  
}

.googlemaps{
  display: flex; 
  align-items: center; 
  justify-content: center;
}
iframe{
  width: 100%;
}


.about-body{
   height: 2500px;
}