/* Desktop Views ****************************/
@media (min-width: 1201px) {

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		
		font-family: 'Barlow', sans-serif;
		padding: 0;
		margin: 0;
		background-color: #e4ce24;
	}

	

	header { 
		background-color: #1B512D;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 200px;
		padding: 5px 10%;

	}

	/* header nav list start ----------------- */

	nav {
		display: flex;
		justify-content: space-between;
		
	}

	nav .mainMenu {
		display: flex ;
		list-style: none ;

	}

	nav .mainMenu li a{
		display: inline-block ;
		padding: 20px;
		color: #EAD637;
	}

	nav .mainMenu li a:hover{
		color: #36c165;
		transition: all 1s;
		transform: scale(1.2);
	}

	nav .openMenu , .closeMenu{
		display: none;
		cursor: pointer;

	}

	/* header logo start ------------------- */

	header .logo_header {
		display: flex;
		display:inline;
		cursor: pointer;
	}
	header .logo_header img {
		width: 70%;
		transition: all 1s;
	}
	header .logo_header img:hover {
		transform: scale(1.2);
	}

	/* header logo end ------------------- */


	/* facebook and github logos start ----------- */
	.icons-block{
		display: flex;
	}

	.icons {
		
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		font-size: 40px !important;
		margin: -5px 0px 0px 50px;
		width: 100px;
		color: white;
	}

	.fa-facebook:hover{
		color: #3C5A9B;
	}
	
	.fa-github:hover{
		color: #000000;
	}
	

	

	



	/* facebook and github logos end ----------- */
	
	
	/* header nav list end ----------------- */

	.footer-section{
		display: grid;
		grid-template-columns: auto auto auto;
		text-align: center;
		align-items: center;
		
	}

	



	/* date start ----------------- */
	.date {
		background-color:#246b3c;
		color: white;
		text-align: center;
		margin-top: -50px;
		margin-left: 10px;
		margin-right: 10px;
		padding: 10px 0px 10px 0px;
	}
	/* date end ----------------- */

	/* footer logo start ----------------- */
	footer  img{
		display: flex;
		display:inline;
		cursor: pointer;
		width: 90%;
		transition: all 1s;
		margin: 0px 0px 0px 20px;
		
		
	}

	footer img:hover {
		transform: scale(1.2);
	}
	/* footer logo end ----------------- */

	/* section 1 start footer section ----------------- */
	.left-section{
		text-align: left;
		
	}

	/* section 1 end footer section ----------------- */


	footer {
		color: white;
		background-color: #1B512D;
		align-items: center;
		border: 1px solid rgba(0, 0, 0, 0.2);
		flex: 0 0 auto;
		
		
		
	}

	.footer-section{
		
		text-align: center;
		align-items: center;
		justify-content: center;
		
	}

	/* columns design **************************/
	main{
		
		background-color: #e4ce24;
	
		margin: 50px;
		
	}

	.grid-container {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr; 
  		grid-template-rows: repeat(3, minmax(auto, 300px)); 
		max-width: 1700px; 
		margin: 0 auto; 
	  }

	 

	  .square1,
	  .square2,
	  .square3,
	  .square4,
	  .rectangle1,
	  .rectangle2
	  {
		background-color: #EAD637;
	  }
	  
	  /* First column - 3 square boxes */
	  /* edition Riboon cutting */
	  .square1 {
		grid-column: 1 / 2; 
		grid-row: 1 / 2 ; 
		text-align: center;
		align-items: center;
		justify-content: center;
		
	  }

	  .square1,
	  .square2,
	  .square3{
		min-width: 150px;
		margin: 10px;
		padding: 30px;
	  }

	  .box-1,
	  .box-2,
	  .box-3{
		min-width: 150px;
		margin: 10px;
		padding: 30px;
	  }








	  /* edition hero with site name and call to action */
	  .square4{
		grid-column: 1 / 2; 
		grid-row: 1 / 2; 
		margin: 5px;
		position: relative;
		display: flex;
		/* background-image: url("../images/cuautla_background_zocalo.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; */
		align-items: center;

	}

	.square4 picture img{
		width: 100%;
		height: 590px;
	}

	.hero-button{
		position: absolute;
		bottom: 40px;
		right: 30px;
		background-color: #ccb92a;
		border: 1px solid #ffffff;
		border-radius: 4px;
		box-shadow: rgba(255, 255, 255, 0.1) 0 2px 4px 0;
		box-sizing: border-box;
		color: #fff;
		cursor: pointer;
		outline: none;
		outline: 0;
		padding: 10px 25px;
		text-align: center;
		transform: translateY(0);
		transition: transform 150ms, box-shadow 150ms;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		}
	
		.hero-button:hover {
		box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
		transform: translateY(-2px);
		}

	
	

		



	  /*WEATHER BOX*/
	  .square2 {
		grid-column: 1 / 2; 
		grid-row: 2 / 3;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		
	  }

	  .upside-weather{
		display: inline-block;
		padding: 30px;
	  }

	  /*WEATHER BOX EDITING*/
	  .fa-thermometer-half{
		font-size: 50px;
		transition: all 1s;
		}


	.fa-thermometer-half:hover {
		transform: scale(1.2);
	}

	  /* Join box*/
	  .square3 {
		grid-column: 1 / 2; 
		grid-row: 3 / 4; 
		text-align: center;
		align-items: center;
		justify-content: center;
		
		
		
	  }
	  /* Join box edition*/
	  
	  .join-button{
		display: inline-block;
		margin: 20px;
		background-color: #c8b102;
		border: 1px solid #ffffff;
		border-radius: 4px;
		box-shadow: rgba(255, 255, 255, 0.1) 0 2px 4px 0;
		box-sizing: border-box;
		color: #fff;
		cursor: pointer;
		outline: none;
		outline: 0;
		padding: 15px 60px;
		text-align: center;
		transform: translateY(0);
		transition: transform 150ms, box-shadow 150ms;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;

	  }

	  .join-button:hover {
		box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
		transform: translateY(-2px);
		}
	  




	  
	  /* Second column - 1 square box and 1 rectangle box */
	  .square4 {
		grid-column: 2 / 3; 
		grid-row: 1 / 3; 
		margin: 5px;
		
	  }


	  /* News release*/
	  .rectangle1 {
		grid-column: 2 / 3; 
		grid-row: 3 / 4; 
		margin: 5px;
		display: grid;
		

	  }
	  /* News release edition*/
	 .text-new-release{
		text-align: center;
		align-items: center;
		justify-content: center;
		padding: 20px;
	 }

	 .rectangle1 .text-new-release .paragraph-text{
		padding: 30px;
	 }
	 




	  
	  /* Third column - 1 large rectangle box */
	  .rectangle2 {
		grid-column: 3 / 4; 
		grid-row: 1 / 4; 
		margin: 5px;
		display:grid;
	  }
	  

	  .box-1{
		grid-column: 1 / 2;
		grid-row: 1 / 2; 
		border: 1px solid rgb(185, 183, 47);
		text-align: center;

	  }
	  /* Thankful transport*/
	  
	.box-1 img {
		width: 50px;
		transition: all 1s;
	}
	.car-icon:hover {
		transform: scale(1.2);
	}



	  .box-2{
		grid-column: 1 / 2; 
		grid-row: 2 / 3; 
		border: 1px solid rgb(185, 183, 47);
		text-align: center;
	  }


	  .box-2 img {
		width: 50px;
		transition: all 1s;
		
	}
	.colors-icon:hover {
		transform: scale(1.2);
	}

	  .box-3{
		grid-column: 1 / 2; 
		grid-row: 3 / 4; 
		border: 1px solid rgb(185, 183, 47);
		text-align: center;
	  }

	  .box-3 img {
		width: 50px;
		transition: all 1s;
		
	}
	.house-icon:hover {
		transform: scale(1.2);
	}




	/* columns design **************************/

	footer p {
		text-align: center;
		padding: 20px;
	}

	.sample-siteheader{
		font-family: 'Bree Serif', serif;
		font-family: 'Playfair Display', serif;
		font-size: 25px !important;
		color: #EAD637;

	}
	
	
	.primary-navigation{
		font-family: 'Bree Serif', serif;
		font-size: 50px !important;
		
	}
	
	.footer-navigation{
		font-family: 'Bree Serif', serif;
		font-size: 25px !important;
	}
	
	h1{
		font-size: 40px !important;
		font-family: 'Bree Serif', serif;
		font-family: 'Playfair Display', serif
	}
	
	h2{
		font-size: 36px !important;
	}
	
	h3{
		font-size: 33px !important;
	}
	
	
	.paragraph-text{
		font-size:15px !important;
	}



}


